# -----------------------------------------------------------------------------------------------------
# Como uso Macbook para las prácticas, uso docker para crear los contenedores con todo lo que necesite
# para las prácticas: server Apache, PHP, MySQL, phpMyAdmin, etc.
# -----------------------------------------------------------------------------------------------------
# David Biencinto - UAX - Ingeniería Web I - 2026
# -----------------------------------------------------------------------------------------------------

version: '3.8'

services:

# Servidor web Apache con PHP 
  web:
    image: php:8.1-apache
    container_name: supermertracker-web
    ports:
      - "8080:80"
    volumes:
      - ./src:/var/www/html
    depends_on:
      - db
    command: >
      bash -c "docker-php-ext-install mysqli && apache2-foreground"

# Base de datos MySQL
  db:
    image: mysql:8.0
    container_name: supermertracker-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: precios_db
      MYSQL_USER: david
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  # phpMyAdmin (como en XAMPP)
  pma:
    image: phpmyadmin/phpmyadmin
    container_name: supermertracker-pma
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "8081:80"
    depends_on:
      - db